body
{   background-color: #F0F8FF;
    font-family: sans-serif;
    font-size: 16px;
    text-align: justify;
}

nav
{
    text-align: center;
}

#contato
{
    text-align: right;
}

header
{
    text-align: center;
    padding-top: 20px;
}

#img-topo
{
    background-color: #03bfc5;
    height: 290px;
    border-radius: 1em;
}

h1
{
    text-align: center;
    color: #03bfc5;
    font-size: 22px;
}

h2
{
    font-size: 20px;
}

#grade
{
    display: grid;
    grid-template-areas: "imagem texto";
}

.imagem
{
    text-align: center;
}

.texto
{
    text-align: justify;
    font-family: sans-serif;
    padding-top: 35px;
}

#leonardo
{
    border-radius: 50%;
    max-width:200px;
    max-height:150px;
}

#developer
{
    background-color: #03bfc5;
    text-align: center;
    padding: 0.1%;
    border-radius: 1em;
}

h4
{
    color: rgb(0, 0, 0);
    font-size: 22px;
}

h5
{
    font-size: large;
}

footer
{
    background-color: #03bfc5;
    text-align: center;
    color: rgb(0, 0, 0);
    padding: 1%;
    border-radius: 1em;
}

hr
{
    border-color: #03bfc5;
    width: 70%;
}

hr.preto
{
    border-color: rgb(0, 0, 0);
    width: 70%;
}

a:link, a:visited, a:active
{
    text-decoration: none;
}

a:hover
{
    color: rgb(0, 0, 0);
}
