body{
    background-image: linear-gradient(to right, #8d00b8 20%, rgb(60, 60, 260));
    font-family: 'Times New Roman', Times;
     font-size: 20px;
     text-align: justify;
}

nav{
    text-align: center;
    color: #F0F8FF
}

header{
    text-align: center;
    padding-top: 20px;
    color: 	#F0F8FF;
}

#img-topo{
    height: 330px;
}

h1{
        text-shadow:#555555 0.2vh 0.2vh 1vh;
}

h2{
    font-size: 30px;
    color:#F0F8FF
}

h4{
    font-size: 26px;
    color: #F0F8FF;
}

h5{
    font-size: 25px;
    color: #F0F8FF;
}

#grade{
    display: grid;
    grid-template-areas: "imagem texto";
    color: #F0F8FF;
    text-shadow:#555555 0.2vh 0.2vh 1vh;
}

.imagem{
    text-align: center;
}

.texto{
    text-align: auto;
    padding-top: 40px;
    font-size: 22px;
    text-shadow:#555555 0.2vh 0.2vh 1vh;
}

#leonardo{
    text-align:justify;
    border-radius: 50%;
    max-height: 200px;
}

#developer{
    text-align: center;
    padding: 0.1%;
    border-radius: 0.5em;
    text-shadow:#555555 0.2vh 0.2vh 1vh;
}

footer{
    text-align: center;
    color: #F0F8FF;
    padding: 1%;
    border-radius: 0.5em;
    text-shadow:#555555 0.2vh 0.2vh 1vh;
}

hr.preto{
    border-color: rgb(0, 0, 0);
    width: 70%;
}

a:link, a:visited, a:active{
    font-size: 24px;
    text-decoration: none;
    color: 	#F0F8FF;
    text-shadow:#555555 0.2vh 0.2vh 1vh;
}

a:hover{
    color: #00d9ff;
    transition: 1.5s;
}
