body{
    background-image: linear-gradient(to right, #8d00b8, rgb(60, 60, 260));
    font-family: 'Times New Roman', Times, serif;
     font-size: 20px;
     text-align: justify;
}

nav{
    text-align: center;
    color: #000000;
}

header{
    text-align: center;
    padding-top: 20px;
}

#img-topo{
    background-image: linear-gradient(to right, #8d00b8, rgb(60, 60, 260));
    height: 330px;
}

h2{
    font-size: 30px;
    color: #000000;
}

h4{
    font-size: 26px;
}

h5{
    font-size: 25px;
    color: #000000;
}

#grade{
    display: grid;
    grid-template-areas: "imagem texto";
    color: #000000;
}

.imagem{
    text-align: center;
}

.texto{
    text-align: auto;
    padding-top: 60px;
    font-size: 22px;
}

#leonardo{
    text-align:justify;
    border-radius: 50%;
    max-height: 200px;
}

#developer{
    background-image: linear-gradient(to right, #8d00b8, rgb(60, 60, 260));
    text-align: center;
    padding: 0.1%;
    border-radius: 0.5em;
}

footer{
    background-image: linear-gradient(to right, #8d00b8, rgb(60, 60, 260));
    text-align: center;
    color: #000000;
    padding: 1%;
    border-radius: 0.5em;
}

hr{
    border-color: #03bfc5;
    width: 70%;
}

hr.preto{
    border-color: rgb(0, 0, 0);
    width: 70%;
}

a:link, a:visited, a:active{
    text-decoration: none;
    color: #000000;
}

a:hover{
    color: #03bfc5;
}
